
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<!-- <link rel="stylesheet" href="guestbook.css"/> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<!-- <link rel="stylesheet" href="A02.css"/>
<style>
    body{
        background-color: lightblue;
        }
</style>
</head> -->
<!-- <body class="container">

<h1 style="color:brown">
Guestbook entries
<a href="/new-entry" class="btn btn-primary pull-right">
Write a new entry
</a>
</h1> -->

