<% include header %>
<link rel="stylesheet" href="A02.css"/>
<style>
    body{
        background-color: lightblue;
        }
</style>
</head>
<body style="height:0px;">

   
<ul>
    <li>Satya Phani Shyam Appasani</li>
          <li><a href="/">About </a></li>
            <li><a href="/Calculation">Calculation </a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/guestbook">GuestBook</a></li>
        
        </ul>
        <h1 style="margin-bottom: 50px;">
            Guestbook entries
            <a href="/new-entry" class="btn btn-primary pull-right">
            Write a new entry
            </a>
            </h1>
            <div class="container">
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
