<% include header %>
<style>
  body{
      background-color: lightblue;
      }
</style>
</head>
<body>
  <div class="container">
  <h1 style="color:brown">
  Guestbook entries
  <a href="/new-entry" class="btn btn-primary pull-right">
  Write a new entry
  </a>
  </h1>
<h2>Write a new entry</h2>
<form method="post" role="form">
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title"
  name="title" placeholder="Entry title" required></div>

<div class="form-group">
<label for="content">Entry text</label>
<textarea class="form-control" id="body" name="body"
placeholder="Love Express! It’s a great tool for
building websites." rows="3" required></textarea></div>

<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary"></div>
</form>
<% include footer %>
